<?xml version="1.0"?>
<launch>

    <!-- ACQUISITION -->
	<!-- arguments -->
		<arg name="plugin"     default='rosneuro::EGDDevice'/>
		<!--arg name="devarg"     default='eego|EEG_MASK|0xE1FFB760F731C675'/-->
		<arg name="devarg" default='/home/paolo/cvsa_ws/src/qda_cvsa/test/test_h7.gdf'/>
		<arg name="framerate"  default='16'/>
		<arg name="samplerate" default='512'/>

    <!-- aquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen" >
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
	</node>


    <!-- PROCESSING -->
    <!-- arguments -->
	<rosparam command="load" file="$(find processing_cvsa)/test/ringbuffer.yaml"/>
    <arg name="nchannels" default='39'/>  <!-- keep it alway 39 for CVSA -->
    <arg name="nsamples" default='32'/>
    <arg name="filter_order" default='4'/>
    <arg name='filters_band' default='8.0 10.0; 10.0 12.0; 12.0 14.0; 14.0 16.0; 16.0 18.0;'/>
	<arg name="modality" default="offline" /> <!-- offline or online -->

    <!-- node -->
	<node name="test_CVSA_node" pkg="processing_cvsa" type="test_CVSA_node" output="screen"> 
        <param name="nchannels"   value="$(arg nchannels)"/>
        <param name="nsamples" 	  value="$(arg nsamples)"/>
        <param name="samplerate"  value='$(arg samplerate)'/>
        <param name="filter_order" value="$(arg filter_order)"/>
        <param name="filters_band" 		  value="$(arg filters_band)"/>
		<param name="~modality" 	  value="$(arg modality)"/>
	</node>


    <!-- QDA DECODER -->
	<!-- arguments -->
	<arg name="path_qda_decoder" default="/home/paolo/cvsa_ws/src/qda_cvsa/test/qda_h7.yaml" />

	<!-- node -->
	<node name="test_extraction" pkg="qda_cvsa" type="test_extraction.py" output="screen" >
		<param name="~path_qda_decoder" 	  value="$(arg path_qda_decoder)"/>
	</node>


    <!-- INTEGRATOR -->
    <!-- arguments -->
    <arg name="plugin_integrator" default='rosneuro::integrator::Buffer'/>
	<arg name="buffer_size" default="80" /> 
	<arg name="classes"          default='[730, 731]'/>
	<arg name="init_percentual" default="[0.5,0.5]" /> 

    <!-- node -->
	<node name="integrator" pkg="rosneuro_integrator" type="integrator" output="screen" >
		<param name="plugin" 	  value="$(arg plugin_integrator)"/>
		<rosparam param="buffer_size" subst_value="True">$(arg buffer_size)</rosparam>
		<rosparam param="classes" subst_value="True">$(arg classes)</rosparam>
		<rosparam param="init_percentual" subst_value="True">$(arg init_percentual)</rosparam>
	</node>

</launch>
